page-choose {

  .item {
    margin-bottom: 5px;
    border-radius: 10px !important;
  }

  .unredeemed {
    color: #ffffff;
    background-color: #488aff;
  }

  .redeemed {
    background-color: #b2b2b2;
  }

  .dismissButton {
    text-align: center;
  }

}
