<ion-header>
  <ion-navbar>
    <button icon-only ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Choose</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines inset>
    <button ion-item *ngFor="let redeemOption of redeemOptions; let i=index"
        [ngClass]="((redeemOption['TIME'] != null) && (redeemOption['TIME'].length > 0)) ? 'redeemed' : 'unredeemed'"
        [disabled]="(redeemOption['TIME'] != null) && (redeemOption['TIME'].length > 0)"
        (click)="redeem(redeemOption,i)">
      <div><b>{{ redeemOption['REDEMPTIONVALUE'] }}</b> - {{ redeemOption['CONSUMERNAME'] }}</div>
      <div>{{ redeemOption['MESSAGE'] }}</div>
      <div>{{ parseSeconds(redeemOption['SECONDSAGO']) }}</div>
    </button>

    <button class="dismissButton" ion-item color="primary" (click)="dismissModal()">DONE</button>
  </ion-list>

</ion-content>
