<ion-header>
  <ion-navbar>
    <button icon-only ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>{{ config.merchantName }}</h2>

  <h3 *ngIf="config.eventId > 0">{{ config.eventTitle }}</h3>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <button ion-button block type="button" (click)="scan()">Scan</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form (ngSubmit)="redeem();">
    <ion-grid>
      <ion-row>
        <ion-col col-9 col-sm-8>
          <!--<ion-label stacked>Serial Number</ion-label>-->
          <ion-input #snf
            type="text"
            name="serialNumber"
            placeholder="Ticket/Order/Card Number"
            maxlength="50"
            [(ngModel)]="serialNumber"
            (ionBlur)="focusCheck($event)"
            color="primary"
            outline></ion-input>
        </ion-col>
        <ion-col col-3 col-sm-4>
          <ion-buttons>
            <button ion-button block type="submit">GO</button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-list no-lines inset>
    <ion-item *ngFor="let redemption of redemptions.slice().reverse()" [ngClass]="redemption.STATUS">

      <div class="redeemStatus">{{ redemption['STATUS'] }}</div>
      <div class="redeemProgressBar"><div class="redeemProgress"></div></div>
      <div class="redeemMessage">{{ redemption['MESSAGE'] }}</div>
      <div class="redeemTime">{{ parseSeconds(redemption) }}</div>
      <div class="redeemRedemptionValue">{{ redemption['REDEMPTIONVALUE'] }} - {{ redemption['CONSUMERNAME'] }}</div>

    </ion-item>
  </ion-list>

</ion-content>
