page-scan {

  #serialNumber {
    background-color: #ffffff;
    border: 1px solid #488aff;
    border-radius: 5px;
  }

  .item {
    margin-bottom: 5px;
    border-radius: 10px !important;
  }

  .INVALID {
  	color: #ffffff;
  	background-color: #d62d20;
  }

  .CHOOSE {
  	background-color: #ffa700;
  }

  .REDEEMED {
  	color: #ffffff;
  	background-color: #008744;
  }

  /*** pseudo-progress bar ***/
  .redeemProgressBar {
  	background-color: #333333;
  	width: 100%;
  	height: 4px;
  	text-align:left;
  }
  .redeemProgress {
  	background-color: #eeeeee;
  	height: 4px;
  	animation: fill_progress 8.0s linear;
  	-webkit-animation: fill_progress 8.0s linear;
  	-moz-animation: fill_progress 8.0s linear;
  	width: 100%;
  }

  /* fill_progress */
  @keyframes fill_progress {
  	from { width: 1%; }
  	to { width: 100%; }
  }

  @-webkit-keyframes fill_progress {
  	from { width: 1%; }
  	to { width: 100%; }
  }

  @-moz-keyframes fill_progress {
  	from { width: 1%; }
  	to { width: 100%; }
  }


  /*** make the status messages fade out over time ***/
  .INVALID.fade {
  	animation: red_fade 6.0s linear;
  	-webkit-animation: red_fade 6.0s linear;
  	-moz-animation: red_fade 6.0s linear;
  	/*opacity:0.6;*/
  	color:#999999;
  	background-color:#eeeeee;
  }

  .CHOOSE.fade {
  	animation: yellow_fade 6.0s linear;
  	-webkit-animation: yellow_fade 6.0s linear;
  	-moz-animation: yellow_fade 6.0s linear;
  	/*opacity:0.6;*/
  	color:#999999;
  	background-color:#eeeeee;
  }

  .REDEEMED.fade {
  	animation: green_fade 6.0s linear;
  	-webkit-animation: green_fade 6.0s linear;
  	-moz-animation: green_fade 6.0s linear;
  	/*opacity:0.6;*/
  	color:#999999;
  	background-color:#eeeeee;
  }

  /* red_fade */
  @keyframes red_fade {
  	from { background-color:#d62d20; color:#ffffff; }
  	to { background-color:#eeeeee; color:#999999; }
  }

  @-webkit-keyframes red_fade {
  	from { background-color:#d62d20; color:#ffffff; }
  	to { background-color:#eeeeee; color:#999999; }
  }

  @-moz-keyframes red_fade {
  	from { background-color:#d62d20; color:#ffffff; }
  	to { background-color:#eeeeee; color:#999999; }
  }


  /* yellow_fade */
  @keyframes yellow_fade {
  	from { background-color:#ffa700; color:#000000; }
  	to { background-color:#ffffee; color:#999999; }
  }

  @-webkit-keyframes yellow_fade {
  	from { background-color:#ffa700; color:#000000; }
  	to { background-color:#ffffee; color:#999999; }
  }

  @-moz-keyframes yellow_fade {
  	from { background-color:#ffa700; color:#000000; }
  	to { background-color:#ffffee; color:#999999; }
  }


  /* green_fade */
  @keyframes green_fade {
  	from { background-color:#d62d20; color:#ffffff; }
  	to { background-color:#eeffee; color:#999999; }
  }

  @-webkit-keyframes green_fade {
  	from { background-color:#d62d20; color:#ffffff; }
  	to { background-color:#eeffee; color:#999999; }
  }

  @-moz-keyframes green_fade {
  	from { background-color:#d62d20; color:#ffffff; }
  	to { background-color:#eeffee; color:#999999; }
  }

}
