<ion-header>
  <ion-navbar>
    <button icon-only ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configuration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="setConfig()">

    <ion-list inset no-lines>
      <ion-item>
        <ion-label stacked>Token</ion-label>
        <ion-input type="password"
          name="token"
          [(ngModel)]="config.token"
          color="primary"
          outline></ion-input>
          <ion-buttons item-end>
            <button ion-button type="button" (click)="scan()">Scan</button>
          </ion-buttons>
      </ion-item>

      <ion-item>
        <ion-label stacked>Device ID</ion-label>
        <ion-input type="text"
          name="deviceId"
          [(ngModel)]="config.deviceId"
          color="primary"
          readonly="true"
          outline></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Latitude</ion-label>
        <ion-input type="number"
          name="latitude"
          [(ngModel)]="config.latitude"
          color="primary"
          readonly="true"
          outline></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Longitude</ion-label>
        <ion-input type="number"
          name="longitude"
          [(ngModel)]="config.longitude"
          color="primary"
          readonly="true"
          outline></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Max Items</ion-label>
        <ion-input type="number"
          name="maxItems"
          maxlength="2"
          min="1"
          max="50"
          [(ngModel)]="config.maxItems"
          color="primary"
          outline></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Field Autofocus?</ion-label>
        <ion-toggle
          name="doAutofocus"
          [(ngModel)]="config.doAutofocus"></ion-toggle>
      </ion-item>

    </ion-list>

    <button ion-button block type="submit" color="primary" [disabled]="config.token.length===0">
      Save Configuration
    </button>

  </form>

</ion-content>
