<ion-menu [content]="content">

  <ion-list>

    <button menuClose icon-left ion-item>
      <ion-icon name="menu"></ion-icon>
      Menu
    </button>

    <button menuClose icon-left ion-item *ngFor="let p of pages" (click)="goToPage(p)">
      <ion-icon [name]="p.icon"></ion-icon>
      {{ p.title }}
    </button>

    <button menuClose icon-left ion-item (click)="doExit()">
      <ion-icon name="exit"></ion-icon>
      Exit
    </button>

  </ion-list>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
